<!-- This file is not currently used in the application. It was used in a previous version. -->

{% extends 'base.html' %}

{% block header %}
<div class="header container text-center">
    <div class="row align-items-center">
        <div class="col">
            <a class="btn btn-outline-dark" style="width: 25%" href="{{ url_for('query.clips_results', video=video) }}">Back</a>
        </div>
        <div class="col">
            <h1 class="text-center flex-grow-1">{% block title %}Playing Searched Clip{% endblock %}</h1>
        </div>
        <div class="col">
            <!-- Empty column just to center the elements -->
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center container">
    <div class="row">
        <div class="col">
            <video id="searched_video" width="640" height="320" controls>
                <source src="{{ url_for('static', filename='videofiles/mp4/' + video + '.mp4') }}#t={{ init_time }}"
                        type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col vertical-align">
            <ul>
                <li>Video: {{ video }}</li>
                <li>Timestamp: {{ init_time }}</li>
                <li>Expression: "{{ value }}"</li>
                <li>Phrase:</li>
                <li>Glosa:</li>
                <li>Grammatical Value:</li>
            </ul>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button id="clip_button" type="button" class="btn btn-outline-primary mx-1">Play Searched Clip</button>
</div>

<script>
    const video = document.getElementById('searched_video');
    const button = document.getElementById('clip_button');
    var isPlayingClip = false;

    button.addEventListener('click', function () {
        video.currentTime = {{ init_time }};
        video.play();
        isPlayingClip = true;
    });

    video.addEventListener('timeupdate', function () {
        if (video.currentTime >= {{ end_time }} && isPlayingClip) {
            video.pause();
            isPlayingClip = false;
        }
    });
</script>
{% endblock %}
