{% extends 'base.html' %}

{% block header %}
<div class="header d-flex justify-content-center">
    <h1>{% block title %}Play "{{value}}"{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
        <video width="640" height="320" controls>
            <source src="{{ url_for('static', filename='videofiles/mp4/' + video + '.mp4') }}#t={{ timestamp }}"
                    type="video/mp4">
            Your browser does not support the video tag.
        </video>
</div>
{% endblock %}