{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}VideoLGP{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="{{ url_for('query') }}" method="post">
        <label for="search_field">Field:</label>
        <select name="field" id="search_field">
          <option value="1">Frames Embeddings</option>
          <option value="2">Average Frames Embeddings</option>
          <option value="3">Best Frame Embedding</option>
          <option value="4">True Expression</option>
        </select>
        <br>
        <label for="search_mode">Mode:</label>
        <select name="mode" id="search_mode">
          <option value="LP_P1 transcrição livre">Phrase</option>
          <option value="GLOSA_P1_EXPRESSAO">Facial Expression</option>
        </select>
        <br>
        <label for="search">Search:</label>
        <input type="text" name="query" placeholder="Enter query" id="search">
        <input type="submit" value="Submit">
    </form>
{% endblock %}