.expression {
    font-size: 18px;
    color: #000000;
    margin: 0px;
    padding: 20px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    outline: none;
}

.expression_description {
    font-size: 15px;
    color: #646464;
    margin: 0px;
    padding: 5px;
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
}

.frame {
    width: 11%;
    height: 11%;
    margin: 0px;
    padding: 5px;
}

.video {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px;
}

#expression_block {
    display: flex;
    align-items: center;
}

#expression_block_1, #expression_block_2 {
    display: inline;
}
