.home_content-block {
    width: 80%; /* Adjust this value as needed */
    margin: 0 auto; /* This will center the block if it has a specified width */
}

.expression {
    font-size: 140%;
    color: #000000;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
    text-decoration: underline;
    outline: none;
    text-align: center;
}

.expression_description {
    font-size: 110%;
    color: #646464;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
    text-align: center;
}

.frame {
    width: 19%;
    height: 19%;
}

.video {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px;
}

#expression_block {
    display: flex;
    align-items: center;
}

#expression_block_1, #expression_block_2 {
    display: inline;
}

.card {
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 10px rgba(33,33,33,.5); /* Adjust as needed */
    cursor: pointer;
}