{% extends 'annotations/fields_template.html' %}

{% block title %}Add Annotation{% endblock %}

{% block form_attributes %}
    action="{{ url_for('annotations.add_annotation', video_id=video) }}"
    method="post" onsubmit="handleSubmit(event)"
{% endblock %}

{% block buttons %}
    <button id="add_button" type="submit" class="btn btn-primary" onclick="savingEffect()">Save
        Annotation
    </button>
{% endblock %}

{% block scripts %}
    {{ super() }} <!-- This will include the scripts from the parent template -->
    <script>
        function savingEffect() {
            document.getElementById('add_button').innerHTML = `
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Saving...</span>
                `;

            // Change step so that any value is accepted
            startMilliseconds.setAttribute('step', 'any');
            endMilliseconds.setAttribute('step', 'any');
        }

        function handleSubmit() {
            document.getElementById('add_button').disabled = true;
        }
    </script>
{% endblock %}