{% extends 'annotations/fields_template.html' %}

{% block title %}Add Annotation{% endblock %}

{% block form_attributes %}
    action="{{ url_for('annotations.add_annotation', video_id=video) }}"
    method="post" onsubmit="handleSubmit(event)"
{% endblock %}

{% block buttons %}
    {% if is_gpu_available %}
        <button id="add_button" type="submit" class="btn btn-primary">Save
            Annotation
        </button>
    {% else %}
        <button id="add_button" type="submit" class="btn btn-primary" disabled>Save Annotation</button>
    {% endif %}
{% endblock %}

{% block alerts %}
    {% if not is_gpu_available %}
        <div class="alert alert-warning mt-2 text-center" style="width: 40%" role="alert">
            <strong>Warning!</strong> GPU not found, you can't add annotations!
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }} <!-- This will include the scripts from the parent template -->
    <script>
        function savingEffect() {
            document.getElementById('add_button').innerHTML = `
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Saving...</span>
                `;

            // Change step so that any value is accepted
            startMilliseconds.setAttribute('step', 'any');
            endMilliseconds.setAttribute('step', 'any');
        }

        function handleSubmit() {
            savingEffect();
            document.getElementById('add_button').disabled = true;
        }
    </script>
{% endblock %}