{% extends 'annotations/fields_template.html' %}

{% block title %}Edit Annotation{% endblock %}

{% block form_attributes %}
    action="{{ url_for('annotations.edit_annotation', video_id=video, annotation_id=annotation_id) }}"
    method="post" onsubmit="handleSubmit(event)"
{% endblock %}

{% block buttons %}
    <button id="edit_button" type="submit" class="btn btn-primary" onclick="setAction('edit')">
        Save Changes
    </button>
    <button id="delete_button" type="submit" class="btn btn-outline-danger"
            onclick="setAction('delete')">
        Delete Annotation
    </button>
    <input type="hidden" id="action_type" name="action_type" value="">
{% endblock %}

{% block scripts %}
    {{ super() }} <!-- This will include the scripts from the parent template -->
    <script>

        function setAction(action) {
            document.getElementById('action_type').value = action;

            if (action === 'edit') {
                // Change step so that any value is accepted
                startMilliseconds.setAttribute('step', 'any');
                endMilliseconds.setAttribute('step', 'any');
            }
        }

        function handleSubmit(event) {
            event.preventDefault();
            const action = document.getElementById('action_type').value;

            if (action === 'delete') {
                const confirmDelete = confirm("Are you sure you want to delete this annotation?");
                if (!confirmDelete) {
                    // If user cancels, exit the function without submitting the form
                    return;
                }
                // Change the button content to show the spinner and "Deleting..." text
                document.getElementById('delete_button').innerHTML = `
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Deleting...</span>
                    `;
            } else if (action === "edit") {
                // Change the button content to show the spinner and "Saving..." text
                document.getElementById('edit_button').innerHTML = `
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Saving...</span>
                `;
            }

            document.getElementById('edit_button').disabled = true;
            document.getElementById('delete_button').disabled = true;

            fetch('/update_annotation_info', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'video_id': document.getElementById('video_id').value,
                    'annotation_id': document.getElementById('annotation_id').value,
                    'expression': document.getElementById('expression').value,
                    'start_time': document.getElementById('start_time').value,
                    'end_time': document.getElementById('end_time').value,
                    'phrase': document.getElementById('phrase').value,
                    'action_type': action
                })
            }).then(response => {
                if (response.ok) {
                    // If the response is ok, manually submit the form
                    document.getElementById('annotationForm').submit();
                } else {
                    // Handle any errors
                    console.error('Failed to update annotation info');
                }
            })
                .catch(error => console.error('Error:', error));
        }
    </script>
{% endblock %}
