<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<label for="searchBar">Search for a word in the video:</label><br>
<input type="text" id="searchBar" name="searchBar">
<button id="searchKeywordButton" onclick="searchKeyword()">Search</button>
<br>
<video width="640" height="480" controls>
    <source src="{{url_for('video', filename=video_filename)}}" type="video/mp4">
</video>
<script>
    function searchKeyword() {
        var keyword = document.getElementById("searchBar").value;
        if(keyword === "") {
            alert("Please enter a keyword");
        }
        else {
            fetch('/search_keyword/' + keyword, {
                method: 'POST'
            })
        }
    }
</script>

</body>
</html>