{% extends 'base.html' %}

{% block title %}Watch{% endblock %}

{% block content %}

    <form action="{{ url_for('videos.watch_video', video_id=video) }}" method="post">
        <button class="btn btn-outline-info position-fixed" style="left: 8%">Add Annotations</button>
        <input type="hidden" name="add_annotation" value="">
    </form>
    <div class="container text-center">
        <div class="row justify-content-center mt-3">
            <div class="ratio ratio-16x9" style="width: 60%; height: auto; background-color: black">
                <video id="selected_video" controls>
                    <source id="video_source"
                            src="{{ url_for('static', filename='videofiles/mp4/' + video + '.mp4') }}"
                            type="video/mp4">
                    <track id="video_captions" kind="captions"
                           src="{{ url_for('static', filename='videofiles/captions/' + video + '.vtt') }}"
                           srclang="pt" label="Portuguese" default>
                </video>
            </div>
        </div>
        {% if annotations %}
            <div class="row justify-content-center mt-3 bg-secondary-subtle rounded mx-auto" style="width: 80%">
                <p class="text-start mt-1 mb-0 fw-semibold" style="color:#4a4a4a">Facial Expressions Glosses</p>
                <div class="hstack gap-2 overflow-x-auto mt-0">
                    {% for annotation in annotations %}
                        <div class="p-2 position-relative">
                            <button type="button"
                                    class="btn btn-primary text-wrap text-break fw-bold lh-1 position-relative"
                                    style="width: 6rem; height: 3.2rem; cursor: pointer; font-size: 75%; padding: 0;"
                                    onclick="playExpression({{ annotations[annotation]['start_time'] }}, {{ annotations[annotation]['end_time'] }}, '{{ annotation }}')">
                                {{ annotations[annotation]["value"] }}
                            </button>
                            <form action="{{ url_for('videos.watch_video', video_id=video) }}" method="post">
                                <span id="edit_{{ annotation }}" class="position-absolute badge rounded-pill bg-info"
                                      style="top: 0; left: 75%" hidden onclick="this.parentNode.submit()">
                                    <i class="bi bi-pencil-square" style="font-size: 150%"></i>
                                </span>
                                <input type="hidden" name="selected_annotation" value="{{ annotation }}">
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        const video = document.getElementById('selected_video');
        let clip_end_time = 0;
        let isPlayingCLip = false;

        video.addEventListener('timeupdate', function () {
            if (isPlayingCLip && video.currentTime >= clip_end_time) {
                video.pause();
                isPlayingCLip = false;
            }
        });

        function playExpression(start_time, end_time, annotation_id) {
            video.currentTime = start_time;
            video.play();
            isPlayingCLip = true;
            clip_end_time = end_time;

            const badges = document.querySelectorAll('.badge');
            badges.forEach(badge => badge.hidden = true);

            const edit_badge = document.getElementById('edit_' + annotation_id);
            edit_badge.hidden = false;
        }
    </script>
{% endblock %}